@import url("https://fonts.googleapis.com/css2?family=Inter");

html {
	font-family: Inter, Arial, Helvetica, sans-serif;
	overflow-x: hidden;
}

body {
	background-color: rgb(217, 255, 0);
	background-image: url(assets/wallpaper.jpg);
	background-repeat: no-repeat;
	background-attachment: fixed;
	background-position: 72% 35%;
	background-size: cover;
	margin: 0;
}

@media only screen and (min-width: 48.0625em) {
	section.main {
		margin-left: var(--wight-header);
		margin-bottom: 0;
	}

	.main > header {
		position: sticky;
		top: max(-24vw,-230px);
	}
}

img {
	max-width: 100%;
}

.main > header,
.main > main,
.main > footer {
	padding: 1em;
	width: calc(100% - 2em);
}

.main > header {
	margin: calc(50vh - min(171px,calc(80vw / 0.7))) auto;
	border-radius: 1em;
	width: 80%;
	background-color: #f0ffff80;
}

.main > main {
	margin: auto;
	margin-bottom: 5em;
	background-color: #f0ffffb0;
}

.main > footer {
	background-color: #ffffff80;
	margin: 30px 0 0 0;
	height: 4em;
}

h1,
h2 {
	color: rgb(137, 0, 0);
	text-align: center;
}

header a,
header nav > div > div > div > span {
	text-decoration: none;
}

header a:hover {
	text-decoration: underline;
}
